<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <p>Team Name: <%= @name %></p>
   <p>Coach: <%= @coach %></p></p>
   <p>Point Guard: <%= @pg %></p></p>
   <p>Shooting Guard: <%= @sg %></p></p>
   <p>Small Forward: <%= @sf %></p></p>
   <p>Power Forward: <%= @pf %></p></p>
   <p>Center: <%= @c %></p>

 </body>
</html>
